/* === Set main color variables === */
:root {
  --blue: #1ec5cf;
}

/* === General === */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  margin: 0 auto;
  width: 80vw;
}

.flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1.25em;
}
/* === Header === */

header{
  background-image: url('./images/bgk-header.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* ==== Nav bar ====*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .625em; /* 10px */
}

.nav__left > p{
  color: var(--blue);
}

.nav__right {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.nav__right > li >a{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8rem;
  cursor: pointer;
}

.nav__right > li >a:hover{
  color: var(--blue);
  font-size: 1rem;
  text-shadow: 1px 1px #000;
}

/* ==== Hero ====*/

#hero-section{
  height: 40vh;
  margin-top: 2em;
} 

#hero-section h1{
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
}

#hero__line{
  border-color: var(--blue);
  width: 7%;
}

#hero-section p{
  color: #fff;
  margin: 0 auto;
}

.learn-more{
  margin-top: 1em;
  text-transform: uppercase;
  border: 1px solid var(--blue);
  padding: .5em;
  color: var(--blue);
  cursor: pointer;
}

.learn-more:focus{
  outline: none;
  transform: scale(1.05);
}

<<<<<<< HEAD
/* ==== our story section ====*/


#our_story-section{
  color: green;
  align-self: start;
  flex-wrap: wrap;
}

.ourstory_conainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.ourstory_container_child {
  width: 60%;
}

.ourstory_conainer p {
  max-width: 30rem;
  min-width: 25rem;
}

#logo_ourstory {
  width: 30%;
}

#logo_ourstory img {
  width: 8rem;
}

#watch-section{
  color: darkred;
}

#expertise-section{
  color: fuchsia;
}

#team-section{
  color: yellowgreen;
}

=======
>>>>>>> 8544f30adf45b543b9498bf971fad5fbd24a6dd6
/* Code for "Our Story" */


#logo-big {
  /*   justify-content: flex-start;
    align-items: center;
    height: 5vh%; 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: whitesmoke; */
    margin-top: 10px;
} 

/* ==== Watch section ====*/

#watch-section{
  background-image: url('./images/bgk-middle.png');
  background-repeat: no-repeat;
  background-size: cover;  
  text-align: center;
  height: 40vh;
}

.fa-circle-play{
  font-size: 5rem;
  color: #fff;
  margin: 0 auto;
}

#watch-section p{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1em;
}
