/* === Set main color variables === */
:root {
  --blue: #1ec5cf;
}

/* === General === */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.5em;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  margin: 0 auto;
  width: 80vw;
}

.flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1.25em;
}
/* === Header === */

header{
  background-image: url('./images/bgk-header.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* ==== Nav bar ====*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__left,
.company-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .625em; /* 10px */
}

.nav__left > p,
.company-logo > p{
  color: var(--blue);
}

.nav__right {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.nav__right > li >a{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8rem;
  cursor: pointer;
}

.nav__right > li >a:hover{
  color: var(--blue);
  font-size: 1rem;
  text-shadow: 1px 1px #000;
}

/* ==== Hero ====*/

#hero-section{
  height: 40vh;
  margin-top: 2em;
} 

#hero-section h1{
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
}

#hero__line{
  border-color: var(--blue);
  width: 7%;
}

#hero-section p{
  color: #fff;
  margin: 0 auto;
}

.learn-more,
.hiring-btn{
  font-size: .6875rem; /* 11px */
  font-weight: bold;
  margin-top: 1em;
  text-transform: uppercase;
  border: 1px solid var(--blue);
  padding: .5em;
  color: var(--blue);
  cursor: pointer;
  background-color: transparent;
}

.learn-more:focus,
.hiring-btn:focus{
  outline: none;
  transform: scale(1.05);
}

/* ==== our story section ====*/
@media screen and (max-width: 768px) {
  .ourstory_conainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .ourstory_container_child {
    width: 100%;
    overflow: auto;
  }

  .ourstory_container_child p {
    max-width: 100%;
    min-width: auto;
    
  }
}


#our_story-section {
  color: black;
  height: 30vh;
  
}

.ourstory_conainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid tomato;
    gap: 10px;
    height: 100%;
}

.ourstory_container_child {
  width: 56%;
  border: 2px solid violet;
  overflow: auto;
  
}

 .ourstory_container_child p {
  max-width: 30rem;
  min-width: 25rem;
} 



#logo_big {
  border: 2px solid green;
  display: block;
}

#logo_ourstory img {
  width: 8rem;
}

/* ==== Watch section ====*/

#watch-section, #team-section{
  background-image: url('./images/bgk-middle.png');
  background-repeat: no-repeat;
  background-size: cover;  
  text-align: center;
}

#watch-section{
  height: 40vh;
}

.play-icon{
  width: 4rem;
  margin: 0 auto;
}

#watch-section p{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

/* ==== Experitise section ====*/



.expertise-container {
  border: tomato solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}

.expertise-grid {
  max-width: 80%;
}

.expertise-grid ul {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  border: solid 2px fuchsia;
}

.expertise-grid li {
  position: relative;
}

.expertise-grid li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid blue;
  box-sizing: border-box;
  z-index: -1;
}

.expertise-grid ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.expertise-grid ul li img {
  margin-bottom: 10px;
}

.expertise-grid ul li h4 {
  margin-bottom: 5px;
}
/* === Team Section === */

#team-section{
  height: 31.25rem; /* 500px */
}

.team__header{
  padding: 3rem 0;
  color: #fff;
}

.team__header > h2{
  text-transform: uppercase;
  display: block;
}

.card{
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 150px));
  gap: 2rem;
  justify-content: center;
}

#team__line{
  width: 7%;
  border-color: grey;
  margin: .5em auto 0 auto;
}

.card__item{
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  row-gap: 1rem;
}

.card__img{
  height: 8rem;
  width: 100%;
  background-color: #fff;
}

.card__child {
  color: #fff;
  border: 1px solid #fff;
}

.card__child h5,
.card__child p{
  text-align: center;
  text-transform: uppercase;
}

.card__child h5{
  margin-top: 1em;
}

.card__child p{
  font-size: .3em;
  margin-bottom: 2em;
  color: grey;
}


.team__hiring-text{
  color: #fff;
  margin-top: 2em;
}

.hiring-btn{
  margin-top: 1em;
  display: inline-block;
}

/* ==== Footer ====*/

#footer {
  background-image: url('./images/bgk-footer.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#footer p{font-size: .8rem;}

.footer__card{
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  ". . ." /* Giving some spaces */
  "card1 card2 card3"
  "card1 card2 card3"
  "card4 . card5"
  ". . ."/* Giving some spaces */;
  gap: 1.5rem;
}

.footer__company,
.footer__location,
.footer__contact{
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-row: span 2;
}

.footer__company{grid-area: card1;}

.footer__location{grid-area: card2;}

.location-header,
.contact-header{margin: auto auto;}


.location-header,
.contact-header{
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8rem;
}

.location-icon,
.tel-icon{
    display: flex;
    gap: 1rem;}

.tel-icon,
.social-media{
  margin-top: 1em;
}

.social-media{
  display: flex;
  gap: .1em;

}

.footer__contact{grid-area: card3;}

.news-letter-form{
  display: flex;
  gap: .5em;
  border-radius: 5px;
  justify-content: center;
}

.news-letter-form button{
  background-color:#9f9bb2;
  padding: .5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.news-letter-form button:focus{
  outline: none;
}

.news-letter-form button:active {
  background-color: #ddd;
}

.send-icon{
  width: 1.5em;
  height: 1em;
  margin: auto auto;
}

.email-input{
  border: 1px solid lightgray;
  padding: .5em;
  background-color: transparent;
  font-size: .8rem;
}

.footer__description,
.footer__copyright{
  display: flex;
}

.footer__description{
  grid-area: card4;
  justify-content: space-between;
}

.footer__copyright{
  grid-area: card5;
  align-items: center;
}
