/* === Set main color variables === */
:root {
  --blue: #1ec5cf;
}

/* === General === */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  border: 5px solid yellow;
}

h2 {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.5em;
  text-transform: uppercase;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  margin: 0 auto;
  width: 80vw;
  padding: 3.125rem 0 3.125rem 0;
}

.flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25em;
  height: 100%;
}
/* === Header === */

header{
  background-image: url('./images/bgk-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 600px;
}

/* ==== Nav bar ====*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}

.nav__left,
.company-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .625em; /* 10px */
}

.nav__left > p,
.company-logo > p{
  color: var(--blue);
}

.nav__right {
  display: none;
  flex-direction: column;
  gap: 1em;
  align-items: flex-end;
  font-size: .7rem;
}

.hamburger {
  display: block;
  cursor: pointer;
  color: var(--blue);
  font-size: 2rem;
}

.close-btn{
  font-size: 1rem;
  color: tomato;
}

.nav__right > li >a{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8rem;
  cursor: pointer;
}

.nav__right > li >a:hover{
  color: var(--blue);
  font-size: 1rem;
  text-shadow: 1px 1px #000;
}

/* ==== Hero ====*/

#hero-section{
  max-height: 500px;
  margin-top: 2em;
} 

#hero-section h1{
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
}

#hero__line{
  border-color: var(--blue);
  width: 7%;
}

#hero-section p{
  color: #fff;
  margin: 0 auto;
  max-width: 800px;
}

.learn-more,
.hiring-btn{
  font-size: .6875rem; /* 11px */
  font-weight: bold;
  margin-top: 1em;
  text-transform: uppercase;
  border: 1px solid var(--blue);
  padding: .5em;
  color: var(--blue);
  cursor: pointer;
  background-color: transparent;
}

.learn-more:focus,
.hiring-btn:focus{
  outline: none;
  transform: scale(1.05);
}

/* ==== our story section ====*/
@media screen and (max-width: 768px) {
  .ourstory_conainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .ourstory_container_child {
    width: 100%;
    overflow: auto;
  }

  .ourstory_container_child p {
    max-width: 100%;
    min-width: auto;
    
  }
}


#our_story-section {
  color: black;
  height: 30vh;
  
}

.ourstory_conainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    height: 100%;
}

.ourstory_container_child {
  width: 56%;
  border: 2px solid violet;
  overflow: auto;
  
}

 .ourstory_container_child p {
  max-width: 30rem;
  min-width: 25rem;
} 



#logo_big {
  border: 2px solid green;
  display: block;
}

#logo_ourstory img {
  width: 8rem;
}

/* ==== Watch section ====*/

#watch-section, #team-section{
  background-image: url('./images/bgk-middle.png');
  background-repeat: no-repeat;
  background-size: cover;  
  text-align: center;
}

#watch-section{
  height: 500px;
}

.play-icon{
  width: 4rem;
  margin: 0 auto;
}

#watch-section p{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

/* ==== Experitise section ====*/

.expertise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}

.expertise-grid {
  max-width: 80%;
  /* padding: 2em; */
}

.expertise-grid h4{
  text-transform: uppercase;
}

.expertise-grid ul {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  
}

.expertise-grid ul li {
  position: relative;
}

.expertise-grid ul li img {
  padding: 1em;
}
.expertise-grid ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.5px solid lightgrey;
  box-sizing: border-box;
  z-index: -1;
}

.expertise-grid ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em;
}

.expertise-grid ul li h4 {
  margin-bottom: 5px;
}

/* === Team Section === */

#team-section{
  height: 50rem; /* 800px */
}

.team__header{
  padding: 3rem 0;
  color: #fff;
}

.team__header > h2{
  text-transform: uppercase;
  display: block;
}

.card{
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 150px));
  gap: 2rem;
  justify-content: center;
}

#team__line{
  width: 7%;
  border-color: grey;
  margin: .5em auto 0 auto;
}

.card__item{
  display: grid;
  grid-template-columns: subgrid;
  grid-row: span 3;
  row-gap: 1rem;
}

.card__img{
  height: 8rem;
  width: 100%;
  background-color: #fff;
}

.card__child {
  color: #fff;
  border: 1px solid #fff;
}

.card__child h5,
.card__child p{
  text-align: center;
  text-transform: uppercase;
}

.card__child h5{
  margin-top: 1em;
}

.card__child p{
  font-size: .3em;
  margin-bottom: 2em;
  color: grey;
}


.team__hiring-text{
  color: #fff;
  margin-top: 2em;
}

.hiring-btn{
  margin-top: 1em;
  display: inline-block;
}

/* == Contact form / Clients == */
.contact {
  margin: 1em;
  padding: 1em;
}
.contact-client {
  display: inline-flex;
  width: 90%;
  justify-content: space-around;
  border: 2px solid darkgoldenrod;
  
}

.contact-form {
  /* padding: 1em; */
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 2px solid green;
  width: 40%;
}

.client {
  /* padding: 1em; */
  border: 2px solid violet;
}


#message {
  width: 300px; 
  height: 150px; 
  resize: none; 
  padding: 10px; 
  border: 1px solid #ccc;}   

/* ==== Footer ==== */

#footer {
  background-image: url('./images/bgk-footer.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#footer p{font-size: .8rem;}

.footer__card{
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  ". . ." /* Giving some spaces */
  ". card_company ."
  ". card_company ."
  ". card_location ."
  ". card_location ."
  ". card_contact ."
  ". card_contact ."
  ". card_help ."
  ". card_copyright."
  ". . ."/* Giving some spaces */;
  gap: 1.5rem;
}

.footer__company,
.footer__location,
.footer__contact{
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-row: span 2;
}

.footer__company{grid-area: card_company;}
.company-logo{
  justify-content: center;
 }

.footer__location{grid-area: card_location;}

.location-header,
.contact-header{margin: auto auto;}


.location-header,
.contact-header{
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8rem;
}

.location-icon,
.tel-icon{
    display: flex;
    gap: 1rem;}

.tel-icon,
.social-media{
  margin-top: 1em;
}

.social-media{
  display: flex;
  justify-content: center;
  gap: .1em;
}

.footer__contact{grid-area: card_contact;}

.news-letter-form{
  display: flex;
  gap: .5em;
  border-radius: 5px;
  justify-content: center;
}

.news-letter-form button{
  background-color:#9f9bb2;
  padding: .5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.news-letter-form button:focus{
  outline: none;
}

.news-letter-form button:active {
  background-color: #ddd;
}

.send-icon{
  width: 1.5em;
  height: 1em;
  margin: auto auto;
}

.email-input{
  border: 1px solid lightgray;
  padding: .5em;
  background-color: transparent;
  font-size: .8rem;
}

.footer__description,
.footer__copyright{
  display: flex;
}

.footer__description{
  grid-area: card_help;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1em;
}

.footer__copyright{
  grid-area: card_copyright;
  align-items: center;
  justify-content: center;
}

/** == MEDIA QUERY == **/

@media (min-width: 768px) {
  .nav__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
  }

  .hamburger {
    display: none;
  } 
  .close-btn{
    display: none;
  }
  
  #team-section{
    height: 37.5rem; /* 600px */
  }  
  .card{
    grid-template-columns: repeat(4, minmax(100px, 150px));
  }

  .footer__card{
    grid-template-areas: 
    ". . ." /* Giving some spaces */
    "card_company card_location card_contact"
    "card_company card_location card_contact"
    "card_help . card_copyright"
    ". . ."/* Giving some spaces */;
  }
  .company-logo{
    justify-content: flex-start;
   }

}
}
